<!doctype html>
<html lang="en">
<head>

    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <!-- Bootstrap Grid Only -->
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap-grid.min.css">

    <!-- Pico CSS -->
    <link rel="stylesheet" type="text/css" href="/static/libs/pico.min.css">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.6"></script>

    <!-- jQuery -->
    <script src="/static/libs/jquery.min.js"></script>
</head>
<body>
<div class="container">
    {{content}}
</div>
    {{include: html/block-observer.html}}
</body>
</html>
